header{
    width: 100%;
    background-color: #377E80;
    padding: 27px 0;
    color: #C4D86A;
    text-align: center;
    font-size: 48px;
}
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.books{
    background-color: #FDF5E8;
    font-size:  0;
}
/* .btn {
    font-size: 12px;
    padding: 10px 25px;
    color: #ffff;
    text-decoration: none;
    box-shadow: none;
    outline: 0;
    border: 0;
    display: inline-block;
    background-color: #377E80;
    margin: 0 auto;
    border-radius: 5px;
} */